#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure --builddir=build-deb
	dh_auto_configure --builddir=build-udeb -- --disable-gssapi

override_dh_auto_build:
	dh_auto_build --builddir=build-deb
	dh_auto_build --builddir=build-udeb

override_dh_auto_install:
	dh_auto_install --builddir=build-deb
	dh_auto_install --builddir=build-udeb

override_dh_auto_install:
	dh_auto_install --builddir=build-deb
	dh_auto_install --builddir=build-udeb --destdir=debian/tmp-udeb

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
override_dh_install:
	dh_install -Nlibtirpc3-udeb
	dh_install -plibtirpc3-udeb --sourcedir=debian/tmp-udeb

override_dh_auto_clean:
	rm -rf build-deb build-udeb
	rm -rf debian/tmp-udeb

execute_before_dh_installdeb:
	sed -e"s/#DEB_HOST_MULTIARCH#/$(DEB_HOST_MULTIARCH)/" \
		debian/libtirpc3t64.preinst.in > debian/libtirpc3t64.preinst
	sed -e"s/#DEB_HOST_MULTIARCH#/$(DEB_HOST_MULTIARCH)/" \
		debian/libtirpc3t64.postrm.in > debian/libtirpc3t64.postrm
